<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="ProductName"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Price</label>
  <input
    type="number"
    class="form-control"
    id="exampleFormControlInput2"
    placeholder="ProductPrice"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label">Product</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput3"
    placeholder="Product"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput4" class="form-label">Color</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput4"
    placeholder="ProductColor"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Description</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>
